name: SQL CI

on:
  pull_request:
    paths:
      - "sql/**"
jobs:
  sql-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          pip install sqlfluff
      - name: Lint SQL files
        run: |
          sqlfluff lint sql/